@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.gradient-bg {
  background: linear-gradient(324.93deg, #007aff 0.74%, #0f70da 100%);
}

.ellipse-gradient {
  /* position: absolute;
width: 418.42px;
height: 418.42px;
left: 207.32px;
top: 304.91px; */

  background: linear-gradient(324.93deg, #0f70da 0.74%, #007aff 100%);
}
